@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/*loading css*/
.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

/*end loading css*/
.hoverEffect {
  display: inline-block; /* Đảm bảo phần tử hoạt động đúng */
  transition: transform 0.2s ease; /* Hiệu ứng mượt */
}

.hoverEffect:active {
  transform: scale(0.95); /* Zoom out khi nhấn */
}

.noSelect {
  user-select: none; /* Ngăn bôi đen */
  -webkit-user-select: none; /* Ngăn bôi đen trên Chrome/Safari */
  -moz-user-select: none; /* Ngăn bôi đen trên Firefox */
  -ms-user-select: none; /* Ngăn bôi đen trên IE/Edge */
  -webkit-user-drag: none; /* Ngăn kéo hình ảnh */
  -webkit-touch-callout: none; /* Ngăn menu trên thiết bị cảm ứng */
}
